.login {
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

.loginPageContainer {
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background: var(--backgroundBlue);
    box-shadow: 0 8px 18px 10px rgba(0, 0, 0, 0.02);
}

.logo {
    display: flex;
    flex-basis: 30%;
    border-right: 2px solid #F5F7FB16;

}

.signupForm {
    display: flex;
    flex-basis: 78%;
    padding: 3rem 6rem;

}

@media only screen and ( max-width: 900px) {
    .loginPageContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: var(--backgroundBlue);
    }
    .logoWeb{
        display: none;
    }
    .logoMob{
        display: block;
    }
    .logoText{
        display: none;
    }
    .logoConatiner{
        display: flex;
        padding: 0px;
        height: 100%;
        flex-direction: column;
        gap: 34%;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 10px
    }
    .loginContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem 2rem 6rem 3rem;
    }
    .logo{
        border: none;
        border-bottom: 2px solid #F5F7FB16;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 100%;
        margin-top: 10px;
    }
    .signupForm{
            padding: 3rem 0rem;
    }
    .signInHead{
        display: none;
    }
    .signIn{
        min-width: 18rem;
        gap: 2rem;
    }
    .signInUpTabs {
        display: flex;
        justify-content: space-between;
        width: 269px;
     }
}
